<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Books</title>
    <link rel="stylesheet" href="/css/addbooks.css">
        <link rel="stylesheet" href="/css/navSide.css">
</head>
<body>
      <%-include("adminNav.ejs")%>
    <div class="main w-100 ">
        <div class="side">
            <%-include("aside.ejs")%>
        </div>
        <div class="rigth">
        <div class="addBook">
            <h1>Add Books</h1>
            <form action="/addBook" method="POST" enctype="multipart/form-data">
            <input type="text" id="title" value="" name="title" placeholder="Add title">
            <input type="text" id="author" value="" name="author" placeholder="Add Author">
            <input type="text" id="publisher" value="" name="publisher" placeholder="Add publisher">
            <input type="text" id="isbn" value="" name="isbn" placeholder="isbn">
            <select name="category" id="">
                <option value="">Select Category</option>
                 <% if (cat.length == 0) { %>
                    <option value="">NO data Available</option>
                <% } else {
                         cat.forEach((item) => {
                     %>
                            <option value="<%=item.name%>"><%=item.name%></option>
                    <%})}%>
            </select>
            <input type="text" id="total_copies" value="" name="total_copies" placeholder="Total Copies">
            <input type="text" id="Available_coplies" value="" name="available_copies" placeholder="Available_coplies">
                <select name="status" id="">
                    <option value="available">available</option>
                    <option value="unavailable">unavailable</option>
                </select>
                <input type="file" name="image"> 

            <input type="submit" value="submit" placeholder="Add Category" ><br>
            <%-msg%>
            </form>
    </div>
</div>
    
</div>
</body>
</html>