<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stdUpdate.css">
  <link rel="stylesheet" href="/css/navSide.css">

</head>
<body>
    <%- include("nav.ejs") %>

    <div class="main w-100">
        <div class="side">
            <%- include("aside.ejs") %>
        </div>
        <div class="rightSide">
            <div class="updateStd">
                <h1>Update User</h1>
                <form action="/updateUser?id=<%=std.id%>" method="POST">
                    <input type="text" id="name" value="<%= std.name || '' %>" name="name" placeholder="Enter the updated name"><br>

                    <input type="text" id="email" value="<%= std.email || '' %>" name="email" placeholder="Enter the updated Email"><br>

                    <input type="password" id="password" value="<%= std.password || '' %>" name="password" placeholder="Enter password"><br>

                    <select name="role" id="role">
                        <option value="">Select Role</option>
                        <option value="member" <%= std.role === 'member' ? 'selected' : '' %>>member</option>
                        <!-- Add more roles if needed -->
                    </select><br>

                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
