<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/viewbook.css">
</head>
<body>
     <%-include("adminNav.ejs")%>
    <div class="container-fluid px-0">

  <div class="row g-0">
    
    <!-- Sidebar flush to the very left -->
    <div class="col-2 p-0">
      <%- include("aside.ejs") %>
    </div>
    <div class="col-10 border">
 <div class="search w-100">
            <input type="search" placeholder="Search Books">
            <div class="rigth">
        
        <% if (data.length == 0) { %>
    <label for=""><h1>Data is Not Available 😒</h1></label>
    <% } else {
                data.forEach((item) => {
        %>
       <div class="books">
           <center><img src="<%=item.image%>" alt="NO image found"></center><br>
          <div class="infoBook">
               <div>
                <label for=""><b>Title : </b> <%=item.title%></label><br>
                <label for=""><b>Author : </b> <%=item.author%></label><br>
                <label for=""><b>Publisher : </b> <%=item.publisher%></label><br>
                <label for=""><b>Category : </b> <%=item.category%></label><br> 
                 
               </div>
               <div>
                <label for=""><b>ISBN : </b><%=item.isbn%></label><br>
                <label for=""><b>Status : </b> <%=item.status%></label><br>
                <label for=""><b>Total Copies : </b> <%=item.total_copies%></label><br>
                <label for=""><b>Available Copies : </b> <%=item.available_copies%></label><br>   
               </div>
          </div>
          <div class="viewBookBtn">
            <button class="UD_Btn UD_del"><a href="/deleteBook?id=<%=item.id%>">Delete</a></button>
            <button class="UD_Btn UD_upd"><a href="/updateBookpage?id=<%=item.id%>">Update</a></button> 
          </div>

       </div>

    <%})}%>

    </div>
        </div>
</div>

</div>

        </div>

</body>
</html>